<header id="cabecalho">
    <div id="div-menu">
        <div id="logo">Logo</div>

        <nav id="nav-menu">
            <ul id="lista-menu">
                <li>
                    <a href="#" routerLink="/home" class="lnk-rota">Home</a>
                </li>

                <li>
                    <a href="#" routerLink="/cadastro" class="lnk-rota">Cadastro</a>
                </li>

                <li>
                    <a href="#" routerLink="/lista" class="lnk-rota">Consulta</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
